.field{

    padding: 0;

    li {
        list-style-type: none;
        border: solid 1px #e6e9ee;
        color: #000;
        margin: 20px;
        max-width: 650px;
        box-shadow: 0 0.5rem 1.2rem rgba(189,197,209,.5);

        div {
            border-bottom: solid 1px #e6e9ee;
            padding: 10px 5px;
        }
    }

    &_label {
        color: #6174a0;
        font-weight: bold;
        display: inline;
    }
    
}